<%= form_with(model: price_capture, local: true) do |form| %>
  <% if price_capture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(price_capture.errors.count, "error") %> prohibited this price_capture from being saved:</h2>

      <ul>
        <% price_capture.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit 'Capture' %>
  </div>
<% end %>